# macOS
.DS_Store
.AppleDouble
.LSOverride


# Node
node_modules/
dist/
.env
.env.*
yarn.lock
package-lock.json


# JetBrains
.idea/
*.iml


# VSCode (예비용)
.vscode/


# Log
*.log


# OS
Thumbs.db

# Python (예비용)
__pycache__/
*.pyc
*.pyo
*.pyd
